In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
with open('C:/Users/abi/Desktop/json') as f:
    data = json.load(f)

In [4]:
df = pd.DataFrame(data["records"])

In [5]:
df.tail(5)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
61895,25/03/2020,25,03,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61896,24/03/2020,24,03,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61897,23/03/2020,23,03,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61898,22/03/2020,22,03,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61899,21/03/2020,21,03,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,

In [6]:
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [7]:
df.columns.size

12

In [8]:
df.shape

(61900, 12)

In [9]:
df.isnull().sum()

dateRep                                                         0
day                                                             0
month                                                           0
year                                                            0
cases                                                           0
deaths                                                          0
countriesAndTerritories                                         0
geoId                                                           0
countryterritoryCode                                          123
popData2019                                                   123
continentExp                                                    0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000      0
dtype: int64

In [10]:
df.countriesAndTerritories.unique().size

214

In [11]:
df.drop(['day', 'month', 'year'], axis=1, inplace = True)

In [12]:
df.isnull().value_counts()

dateRep  cases  deaths  countriesAndTerritories  geoId  countryterritoryCode  popData2019  continentExp  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
False    False  False   False                    False  False                 False        False         False                                                         61777
                                                        True                  True         False         False                                                           123
dtype: int64

In [13]:
df.rename(columns = {'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000': '14_day_cases'}, inplace = True)

In [14]:
df.isnull().value_counts()

dateRep  cases  deaths  countriesAndTerritories  geoId  countryterritoryCode  popData2019  continentExp  14_day_cases
False    False  False   False                    False  False                 False        False         False           61777
                                                        True                  True         False         False             123
dtype: int64

In [15]:
df.dropna(inplace= True)

In [16]:
df.shape

(61777, 9)

In [17]:
df.isnull().sum()

dateRep                    0
cases                      0
deaths                     0
countriesAndTerritories    0
geoId                      0
countryterritoryCode       0
popData2019                0
continentExp               0
14_day_cases               0
dtype: int64

In [18]:
df.head()

,dateRep,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,14_day_cases
0,14/12/2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.01377925
1,13/12/2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.05277624
2,12/12/2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.86876792
3,11/12/2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.13426564
4,10/12/2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.96865815

In [19]:
 df[df['14_day_cases'] == '']

,dateRep,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,14_day_cases
327,12/01/2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,
328,11/01/2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,
329,10/01/2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,
330,09/01/2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,
331,08/01/2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,
...,...,...,...,...,...,...,...,...,...
61895,25/03/2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61896,24/03/2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61897,23/03/2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61898,22/03/2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,
61899,21/03/2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,

In [20]:
df['14_day_cases'].replace('', 0, inplace = True)

In [21]:
df

,dateRep,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,14_day_cases
0,14/12/2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.01377925
1,13/12/2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.05277624
2,12/12/2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.86876792
3,11/12/2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.13426564
4,10/12/2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.96865815
...,...,...,...,...,...,...,...,...,...
61895,25/03/2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61896,24/03/2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61897,23/03/2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61898,22/03/2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61899,21/03/2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0

In [22]:
df.reset_index(inplace = True, drop = True)

In [23]:
df

,dateRep,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,14_day_cases
0,14/12/2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.01377925
1,13/12/2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.05277624
2,12/12/2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.86876792
3,11/12/2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.13426564
4,10/12/2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.96865815
...,...,...,...,...,...,...,...,...,...
61772,25/03/2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61773,24/03/2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61774,23/03/2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61775,22/03/2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0
61776,21/03/2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,0

In [120]:
df.dateRep = pd.to_datetime(df['dateRep'])

In [121]:
type(df.dateRep[0])

pandas._libs.tslibs.timestamps.Timestamp

In [122]:
df.sort_values(by=['dateRep'])

,dateRep,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,14_day_cases
8340,2019-12-31,0,0,Brazil,BR,BRA,211049519.0,America,0
43246,2019-12-31,0,0,Oman,OM,OMN,4974992.0,Asia,0
17434,2019-12-31,0,0,Egypt,EG,EGY,100388076.0,Africa,0
54594,2019-12-31,0,0,Switzerland,CH,CHE,8544527.0,Europe,0
15237,2019-12-31,0,0,Czechia,CZ,CZE,10649800.0,Europe,0
...,...,...,...,...,...,...,...,...,...
33112,2020-12-14,0,0,Liberia,LR,LBR,4937374.0,Africa,1.64054819
60988,2020-12-14,0,0,Yemen,YE,YEM,29161922.0,Asia,0.02057478
54862,2020-12-14,4,0,Taiwan,TW,CNG1925,23773881.0,Asia,0.27340929
34613,2020-12-14,0,0,Madagascar,MG,MDG,26969306.0,Africa,1.10125192
0,2020-12-14,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.01377925

In [123]:
df.reset_index(inplace = True, drop= True)

In [125]:
df.to_csv('Desktop/covid.csv')